@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>A tool to help you stop cyber bullying.</p>
<p>
    Creators of this program:
    <ul>
        <li>Cory W. Cordell</li>
        <li>Andrew W. Markley</li>
        <li>Caleb Cummings</li>
        <li>Biodoumoye Bokolo</li>
    </ul></p>
