@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>
    @foreach (string s in ViewBag.Message)
    {
        @s<br />;
    }
</h3>

<address>
    One Wecare Way<br />
    Birmingham, Al 35062<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>sdfd
</address>