@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bully Squasher</h1>
    <p class="lead">Bully Squasher is a free service and a tool to help stop a growing problem, cyber bullying.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Its as easy as 1..2..3.
            <ol>
                <li>Sign-up by clicking the register link.</li>
                <li>Install the client app on your childs device.</li>
                <li>Set preferences to get allerts when a potentiall bully message is detected.</li>
            </ol>
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>It's all in the details.</h2>
        <p>
            You have controll over each child account to manage:
            <ul>
                <li>message logging</li>
                <li>email or SMS updates</li>
                <li>time control</li>
            </ul></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cyber Bullying is a Serios Problem</h2>
        <p>Find out how you can help put an end to a brutal form of bullying.</p>
        <p><a class="btn btn-default" href=#>Learn more &raquo;</a></p>
    </div>
</div>